/* Global Style  */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* browser reset  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* set root rem to 10px to make rem calcs easier  */
html {
    font-size: 10px;
}
/* 1.2rem is 12px based on 1 rem is 10px  */
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.2rem;
}
/* typography  */
.drk-bl-txt {
    color: #1d1e35;
}
.sft-red-txt {
    color: #f47c57;
}
.drk-gry-bl-txt {
    color: #787887;
}
.very-drk-gry-bl-txt {
    color: #4a4b5e;
}

/* backgrounds  */
.soft-bg-grad {
    background-image: linear-gradient(rgb(175, 103, 233), rgb(101, 101, 231));
}

/* dividers  */
.lt-gr-bl-divider {
    color: #e7e7e9;
}

// utilities 
.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clearfix:after { clear: both; }

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
/* accordion  */
.container.main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 0;

    h1 {
        margin-bottom: 1rem;
        padding: 0 1rem;
    }
}

.banner-image {
    position: relative;
    width: 100%;
    border-radius: 20px;

    .svg-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        
        img {
            position: absolute;
            top: 50%;
            left: -12%;
            transform: translateY(-50%);
            width: 75%;
        }
    }

    .woman-mobile {
        display: block;
    }
    .woman-desktop {
        display: none;
    }

    .box-desktop {
        position: absolute;
        top: 63%;
        left: -12%;
        transform: translateY(-50%);

        img {
            width: 50%;
        }
    }
}


.accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2rem;

    .a-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 1rem;
        border-bottom: 1px solid #e7e7e9;

        .accordion-btn{
            margin: 0;
            position: relative;
            width: 100%;
            color: #1d1e35;
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            border-radius: 5px; 
            
            .caret{
                transform-origin: center;
                animation: rotatedown .5s ease-in-out;
                animation-fill-mode: forwards;
            }

            &:hover {
                color: #f47c57;
            }

        }
        .a-panel{
            width: 100%;       
            color: #262626;
            transition: all 0.2s ease-in-out;
            opacity: 0;
            height: auto;
            max-height: 0;
            overflow: hidden;
            // padding: 0px 10px;
        }


        &.active{
            .accordion-btn{
                font-weight: 700;
                .caret{
                    transform-origin: center;
                    animation: rotateup .5s ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
            .a-panel{               
                padding: 15px 0 10px;
                opacity: 1;
                max-height: 500px;              
            }
        }
    }
}


/* tablet */
@media only screen and (min-width: 768px) {
    .container.a-wrap {
        top: 30%
    }

    .a-container{
        padding: 1.5rem 3rem;
    }
}

/* desktop  */
@media only screen and (min-width: 992px) {

    .container.main-content {
        flex-wrap: nowrap;
    }

    .banner-image {
        width: 50%;
        .woman-mobile {
            display: none;
        }
        .woman-desktop {
            display: block;
        }
    }

    .accordion {
        width: 45%;
    }

}

// animations 
@keyframes rotateup {
    from   {transform: rotate(0deg);}
    to {transform: rotate(540deg);}
}

@keyframes rotatedown {
    from   {transform: rotate(540deg);}
    to {transform: rotate(0deg);}
}