/* Global Style  */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* browser reset  */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* set root rem to 10px to make rem calcs easier  */
html {
  font-size: 10px;
}

/* 1.2rem is 12px based on 1 rem is 10px  */
body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem;
}

p {
  line-height: 1.4;
}

/* backgrounds  */
.soft-bg-grad {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 100vh;
}

/* accordion  */
.container.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  width: 80%;
  max-width: 800px;
  margin: 75px auto;
  padding: 0;
}

.banner-image {
  position: relative;
  width: 100%;
  border-radius: 20px;
}

.banner-image .woman-mobile {
  display: block;
}

.banner-image .woman-desktop {
  display: none;
}

.banner-image .drop-shadow {
  display: none;
}

.banner-image .box-desktop {
  display: none;
}

.banner-image .svg-container {
  position: relative;
  width: 100%;
  height: 150px;
}

.banner-image .svg-container img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 90%;
}

.banner-image .svg-container img.mobile-dropshadow {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  width: 80%;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 3rem 5rem;
}

.accordion h1 {
  text-align: center;
  margin: 0 0 2rem;
}

.accordion .accordion-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1rem 2rem 1rem 0;
  border-bottom: 1px solid #e7e7e9;
}

.accordion .accordion-item-container .accordion-btn {
  margin: 0;
  position: relative;
  width: 100%;
  color: #1d1e35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 5px;
}

.accordion .accordion-item-container .accordion-btn .caret {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotatedown .2s ease;
          animation: rotatedown .2s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.accordion .accordion-item-container .accordion-btn:hover {
  color: #f47c57;
}

.accordion .accordion-item-container .a-panel {
  display: none;
  width: 100%;
  color: #262626;
  height: auto;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: slideup .5s ease-in;
  animation: slideup .5s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.accordion .accordion-item-container.active .accordion-btn {
  font-weight: 700;
}

.accordion .accordion-item-container.active .accordion-btn .caret {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotateup .3s ease-in;
  animation: rotateup .3s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.accordion .accordion-item-container.active .a-panel {
  display: block;
  padding: 15px 0 10px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: slidedown .5s ease-in;
  animation: slidedown .5s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* desktop  */
@media only screen and (min-width: 768px) {
  .container.main-content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    min-height: 60vh;
    margin: 0 auto;
  }
  .banner-image {
    width: 50%;
  }
  .banner-image .woman-mobile {
    display: none;
  }
  .banner-image .woman-desktop {
    display: block;
  }
  .banner-image .box-desktop {
    display: block;
    position: absolute;
    top: 57%;
    left: -15%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
  }
  .banner-image .box-desktop img {
    width: 90%;
  }
  .banner-image .svg-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
  }
  .banner-image .svg-container img {
    position: absolute;
    top: 50%;
    left: -12%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 110%;
  }
  .banner-image .svg-container.drop-shadow {
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }
  .banner-image .svg-container.drop-shadow img {
    position: absolute;
    top: 50%;
    left: -55%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 150%;
  }
  .accordion {
    padding: 2rem;
    width: 45%;
  }
  .accordion h1 {
    text-align: left;
    margin: 30% 0 2rem;
  }
}

.slideup {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: slideup .3s ease-in;
  animation: slideup .3s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slidedown {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: slidedown .3s ease-in;
  animation: slidedown .3s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideup {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}

@keyframes slideup {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}

@-webkit-keyframes slidedown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

@keyframes slidedown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

@-webkit-keyframes rotateup {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}

@keyframes rotateup {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}

@-webkit-keyframes rotatedown {
  from {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotatedown {
  from {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=styles.css.map */